/** ********** Fonts ********** **/
* {
    font-family: "Hack Nerd Font", "Noto Sans JP";
    font-size: 20px;
}

/** ********** Window ********** **/
#window {
	background-color: rgba(13,15,24,0.9);
	color: rgba(217, 224, 238, 0.8);
	border: 3px solid #a6e3a1;
	border-radius: 12px; /* <- redondeado aquí */
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: rgba(28, 28, 42, 0.8);
	border: 0px solid rgba(183, 164, 220, 0.8);
	padding: 12px;
	border-radius: 12px; /* <- redondeado */
}

#scroll {
	margin-top: 20px;
}

#text {
	color: #ffffff;
}

#text:selected {
	color: rgba(17, 17, 27, 25);
}

#entry {
	border-radius: 12px; /* <- redondeado para las entradas */
  padding: 10px; 
}

#entry:selected {
	background-color: rgba(203, 166, 247, 0.8);
	color: rgba(217, 224, 238, 0.8);
}

#input, #entry:selected {
	border-radius: 12px;

}
